<div>
    <div>CONVERSION RESULT:</div>
    <div><%= @conversion.amount %> in <%= @conversion.starting_currency %></div>
    <div>is</div>
    <div><%= @conversion.converted_amount %> in <%= @conversion.final_currency %></div>
</div>